@charset "utf-8";
/*ν—¤λ”*/
#header{
	height:45px;
	line-height: 45px;
	text-align:center;
	margin:30px 50px;
	position:relative;
}

#header h1{
	width:110px;
	height:45px;
	background:url(../images/sp_com.png) no-repeat -300px -5px;
	text-indent: -9999px;
	position: absolute;
}
#header h1 a{display: block;}



.gnb{display: inline-block;}
.gnb li{
	float: left;
	margin:0 30px;
	position:relative;
}
.gnb li::after{
	content: "";
	display: block;
	width:100%;
	height:2px;
	background:#2d5b9b;
	position:absolute;
	bottom:-30px;
	transform:scale(0);
	transition:transform 0.3s;
}
.gnb li:hover::after{
	transform:scale(1);
}

.gnb li a{}

.lnb{
	width:100%;
	position:absolute;
	left:0;
	z-index: 1;
	top:75px;
	background:#fff;
	max-height: 0;
	overflow: hidden;
	transition:max-height 0.5s;
}

.gnb li:hover .lnb{
	max-height: 500px;
}

.util{
	position:absolute;
	right: 50px;
	top:30px;
	font-size: 13px;
}
.util li{
	float:left;
}
.util li::after{
	content:"";
	display:inline-block;
	width:1px;
	height:8px;
	background: #333;
	margin:0 5px;
}
.util li:last-child::after{display:none;}
.util li a{}

/*ν‘Έν„°*/
#footer{
	color:#fff;
	font-size: 13px;
}

.fTop{
	background:#383f43;
	padding:10px 0;
}


.fMenu{
	float:none;
	overflow: hidden;
}
.fMenu li{
	float:none;
	line-height: 40px;
}
.fMenu li::after{
	content: "";
	display: inline-block;
	width:1px;
	height:8px;
	background:#fff;
	margin:0 5px;
}

.webFMenu li:last-child::after{display:none;}
.fMenu li a{
	color:#fff;
}

.csFamily{float:right;}
.csBox,.familyBox{
	float:left;
	height:40px;
	line-height: 40px;
	padding:0 15px;
}


.csBox{background:#2a3033;}
.csBox span{
	font-size:11px;
	font-weight: bold;
	vertical-align: text-bottom;
}
.csBox .num{
	font-size:22px;
	font-weight: normal;
	padding left: 10px;
}


.familyBox{
	width:130px;
	margin-left: 10px;
	background:#fff url(../images/arrow.png) no-repeat 95% center;
	color:#333;
}


.fBottom{
	background:#4C5459;
	text-align: center;
	padding:80px 0;
}

.fLogo{
	width:130px;
	height:50px;
	background:url(../images/sp_com.png) no-repeat -150px 0;
	text-indent: -9999px;
	margin:0 auto;
}

.fBottom p{
	margin-top:20px;
}
.fBottom p span::after{
	content: "";
	display: inline-block;
	width:1px;
	height:8px;
	background:#fff;
	margin:0 5px;
}
.fBottom p span:last-child::after{display:none;}